/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #e7f4ff !important;
  /* Azul cielo */
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  background-color: #007bff;
  /* Azul primario */
}

/* Home Page */
.home-container {
  height: 100vh;
  /* Azul claro */
}

.app-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #007bff;
  /* Azul primario */
}

.buttons .btn {
  width: 250px;
}

.list-group-item {
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

.list-group-item:hover {
  background-color: rgba(0, 128, 0, 0.1);
  /* Color de fondo suave al pasar el mouse */
  transform: translateX(5px);
  /* Animación de movimiento */
}

.text-danger {
  font-size: 1.25rem;
  font-weight: bold;
}

.text-success {
  font-size: 1.25rem;
  font-weight: bold;
}